@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

::selection {
	background-color: #d1a954;
	color: #333333;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
	background-color: #d1a954;
	border-radius: 3px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
